* { max-height: 100000px; }
body {
	background: #fff;
	color: #89949b;
	font: 12px/15px "Lucida Grande", "Lucida Sans", sans-serif;
	margin: 0;



a { 
	color: #4b5c66;
	text-decoration: none;
	outline: none !important;
}
a:hover {
	text-decoration: underline;
	color: #4b5c66;
}
img { border-style: none; }
form,
fieldset {
	border-style: none;
	margin: 0;
	padding: 0;
}
input,
textarea,
select {
	color: #4c505d;
	font: 12px/15px "Lucida Grande", "Lucida Sans", sans-serif;
	vertical-align: middle;
} 
h1{
	margin: 0 0 5px;
	padding: 0;
	color: #4b5c66;
	font-size: 24px;
	line-height: 27px;
	text-transform: capitalize;
}
h2{
	margin: 0 0 0;
	padding: 0;
	color: #4b5c66;
	font-size: 20px;
	line-height: 23px;
	text-transform: capitalize;
}
/**/

/*Date Picker style*/
.ui-widget-content{
	background: #fff !important;
	border: 1px solid #dbd7e3 !important;
	color: #8f86a3 !important;
}
.ui-widget-header{
	color: #8f86a3 !important;
	background: #f6f6f6 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #fff !important;
	text-align: center !important;
	border: 1px solid #f2f2f2 !important;
}
.ui-datepicker td{ text-align: center !important;}

/*Date Picker End*/

/*----------------------------------------------------------------*/

/*Custom select,radio, checkbox*/

/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */

.chk-area {
	border: 1px solid #777;
	margin: 0 10px 0 0;
	float: left;
	width: 20px;
	height: 20px;
}
.chk-checked {
	background: #aaf;
}
.chk-focus {
	border-color: #f00;
}
.chk-disabled {
	background: #eee;
}
.jcf-label-disabled {
	color: #ccc;
}
/* custom radio styles */
.rad-area {
	border: 1px solid #777;
	border-radius: 10px;
	margin: 0 10px 0 0;
	float: left;
	width: 20px;
	height: 20px;
}
.rad-checked {
	background: #aaf;
}
.rad-focus {
	border-color: #f00;
}
.rad-disabled {
	background: #eee;
}
/* custom select styles */
.select-area {
	border:none !important;
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 26px;
	font-size: 18px;
 	line-height:28px;
	float: left;
	margin:2px 0 !important;
	width: 100% !important;
	padding: 0 20px 000 10px;
}

.select-focus {
	border-color: #f00;
}
.select-area .center {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 100%;
}
.select-disabled {
	background: #eee;
}
.select-area .select-opener {
	background:#fff url(../images/ico-down.png) 50% 56% no-repeat;
	position: absolute;
	height: 26px;
	width: 22px;
	right: 0;
	top: 0;
}
.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}
.select-options .opt-disabled a {
	background: #fff !important;
	color: #aaa !important;
}
.select-options .drop-holder {
	border: 1px solid #dbd7e3 !important;
	overflow: hidden;
	height: 1%;
	font-size: 18px;
	line-height: 24px;
	color:#8f86a3 !important;
	border-radius: 0 0 5px 5px;
}
.select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	color: #8f86a3;
	height: 1%;
	text-transform: capitalize;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #8f86a3;
	color: #fff;
}
/* select options optgroup example styles */
.select-options .optgroup {
	clear: both;
}
.select-options .optgroup strong {
	display: block;
	padding: 5px;
}
.select-options .optgroup ul a {
	padding-left: 30px;
}
/* multiple select styles */
.select-multiple-area {
	border: 1px solid #777;
	clear: both;
}
.select-multiple-area .multiple-list{
	border: none;
	position: static;
}
.select-multiple-area .multiple-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.select-multiple-area .multiple-list li {
	margin: 0;
}
.select-multiple-area .multiple-list a:hover {
	text-decoration: none;
	background: #fff;
	color: #000;
}
.select-multiple-area .multiple-list a {
	display: block;
	cursor: default;
	padding: 5px;
	color: #000;
}
.select-multiple-area .multiple-list .item-selected a {
	background: #007;
	color: #fff;
}
.select-multiple-area .multiple-list .optgroup strong {
	display: block;
	padding: 5px;
}
.select-multiple-area .multiple-list .optgroup a {
	padding-left: 30px;
}
.select-disabled  .multiple-list .item-selected a {
	background: #777;
}
/* custom scrollbars styles */
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.scrollable-area-wrapper .hscrollbar,
.scrollable-area-wrapper .vscrollbar {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
}
.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .hscroll-right,
.scrollable-area-wrapper .vscroll-down {
	background: #777;
	width: 20px;
	height: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-line,
.scrollable-area-wrapper .vscroll-line {
	background: #eee;
	width: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-slider,
.scrollable-area-wrapper .vscroll-slider {
	background: #ccc;
	width: 20px;
	height: 20px;
}
.scrollable-area-wrapper .hscrollbar {
	position: static;
	height: 20px;
	top: auto;
}
.scrollable-area-wrapper .hscroll-line {
	height: 20px;
	width: auto;
}

/* custom file input */
.file-area .jcf-input-wrapper {
	position: relative;
	overflow: hidden;
	font-size: 18px;
	line-height: 22px;
	color:#8f86a3;
}
.file-area .jcf-upload-button {
	border-radius: 22px;
	border: 1px solid #dbd7e3;
	padding:7px 19px 9px;
	color: #8f86a3;
	background:#fff;
	cursor: pointer !important;
	margin:-1px -1px 0 0;
	float: right !important;
	position: absolute;
	top: 0;
	right: 0;
}
.file-area .jcf-fake-input {
	border:none;
	padding: 10px 15px;
	float: left;
	margin: 0 5px;
	height:38px;
	cursor: pointer;
}
.file-area .jcf-fake-input span{
		font-weight: normal;
	font-style:normal !important;
	font-family:​"Lucida-Sans";	
}
.file-area .jcf-fake-input span em{ font-style: normal !important;}
/*.file-area .jcf-fake-input:after{
	content: 'upload your image';
	display: block;
	clear: both;
	font-weight: normal;
	line-height: 18px;
}*/
.file-disabled .jcf-upload-button {
	border-color: #eee;
	background-color: #eee;
	color: #777;
}
.file-disabled .jcf-fake-input {
	border-color: #eee;
	color: #aaa;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #8f86a3;
	opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #8f86a3;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #8f86a3;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #8f86a3;
}
::-moz-placeholder {
 opacity: 1;
}