
#header:after{
	content: '';
	display: block;
	clear: both;
}
#header{
	padding: 7px 10px;
	border-bottom: 1px solid #ccc;
}
#header .top-bar:after{
	content: '';
	display: block;
	clear: both;
}
#header .top-bar{ }
#header .logo{
	background: url(../images/logo.png) no-repeat;
	width: 42px;
	height: 53px;
	text-indent: -9999px;
	display: inline-block;
	vertical-align: middle;
	margin:0 10px 0 0;
}
#header .logo a{
	display: block;
	height: 100%;
}
#header .search-wrap{
	width: 230px;
	display: inline-block;
	vertical-align: middle;
	border-radius:20px;
	background: #ebeff1;
	border: 1px solid #e2e6e8;
	padding: 5px 7px;
}
#header .search-wrap .search-btn{
	background: url(../images/ico-search.png) no-repeat;
	overflow: hidden;
	border: none;
	cursor: pointer;
	width:15px ;
	height:15px;
	text-indent: -9999px;
}
#header .search-wrap input[type="text"]{
	float: right;
	width: 90%;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	background: no-repeat;
	font-size: 14px;
	line-height: 18px;
}
#header .right-pane{
	float: right;
	width: auto;
	padding: 18px 0 0;
}
#header .right-pane .user{
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
	margin: 0 25px 0 0;
}
#header .right-pane .user .name{
	display: inline-block;
	vertical-align: middle;
	margin:0;
	padding: 3px 10px 3px 0;
	border-right:1px solid #e1e6e9;
	position: relative;
	-webkit-transition: all 5s ease;
	-moz-transition: all 5s ease;
	-ms-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;
}
#header .right-pane .user .name:hover a{padding:0 0 28px 0;}
#header .right-pane .user .name:hover .dropdown{display: block;}
#header .right-pane .user .name .dropdown{
	position: absolute;
	top: 42px;
	left: 0;
	content: '';
	display: block;
	width: 233px;
	padding:0;
	list-style: none;
	margin: 0;
	z-index: 9999;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	border-radius:0 0 5px 5px;
	text-transform:capitalize;
}
#header .right-pane .user .name .dropdown li{margin: 0 0 2px;}
#header .right-pane .user .name .dropdown li a{
	display: block;
	height: 100%;
	padding: 7px;
}
#header .right-pane .user .name .dropdown .active a,
#header .right-pane .user .name .dropdown li a:hover{
	background: #f1f1f2;
	text-decoration: none;
	}
#header .right-pane .user .arrow{
	background: url(../images/ico-down.png) no-repeat;
	width:8px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 4px 0 0;	
}
#header .right-pane .user .arrow a{
	width: 100%;
	display: block;
	height: 100%;
}
#header .right-pane .notification{
	display: inline-block;
	vertical-align: middle;
	background: url(../images/ico-bell.png) no-repeat;
	width: 15px;
	height: 15px;
}
#header .right-pane .friend{
	display: inline-block;
	vertical-align: middle;
	background: url(../images/ico-opener.png) no-repeat;
	width: 24px;
	height: 15px;
	margin: 0 0 0 24px;
}
#header .right-pane a{ color: #89949b;}
#main{
	overflow: hidden;
	padding: 87px 0 0;
	position: relative;
}
#main #content .header{
	overflow: hidden;
	margin: 0 -15px 0 0;
}
#main #content .content-heading{
	overflow: hidden;
	padding:26px 3% 20px;
}
#content{
	overflow: hidden;
	margin: 0 0 0 245px;
}
#content .header .user-area{
	overflow: hidden;
	padding: 0 0 20px;
}
#content .header .user-area .numbers{
	float: right;
	min-width:190px;
	padding:7px 20px;
	background:#f3f4f5;
	color: #4b5c66;
	border-radius: 5px 0 0 5px;
}
#content .header .user-area .numbers .block:first-child{background: none;}
#content .header .user-area .numbers .block{
	display: inline-block;
	vertical-align: middle;
	background: url(../images/divider.png) no-repeat 0 4px;
	text-align: center;
	min-width: 90px;
	font-weight: bold;
}
#content .header .user-area .numbers .block span{
	color:#3bc8f5;
	padding: 0 5px 0 0;
	font-weight: normal;
}
#content .header .user-area .user-details{
	overflow: hidden;
	width: 100%;
	margin: 0 0 10px -33px;
	text-align: center;
}
#content .header .user-area .user-details .image{
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	border: 1px solid #e6e6e6;
	background: #f2f1ed;
}
#content .header .user-area .user-details .details{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
#content .header .user-area .user-details .place{
	display: block;
	margin:10px	 0 0 0;
}
#content .header .info-area{
	overflow: hidden;
	padding: 0 0 10px;
	margin: 0 30px 0 0;
	border-bottom: 1px solid #ccc;
}
#content .header .info-area .info{
	overflow: hidden;
	color: #4b5c66;
	font-size: 12px;
	font-weight: bold;#main #content .header
	margin:4px 0 0;
	text-align: center;
}
#content .header .info-area .info span:first-child{ margin: 0;}
#content .header .info-area .info span{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
	font-size: 10px;
}
#content .header .info-area .links-area{
	overflow: hidden;
	width:100%;
	margin: 0 0 10px;
	text-align: center;
	text-transform: capitalize;
}
#content .header .info-area .links-area span:first-child{ background: none;}
#content .header .info-area .links-area span{
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 10px;
	background: url(../images/divider.png) no-repeat 0 4px;
}
#content .header .info-area .links-area .active a{
	padding: 0 0 10px;
	display: block;
	font-weight: bold;
	background: url(../images/border1.png) no-repeat 0 100%;
}
#content .header .info-area .links-area span a:hover{ text-decoration: none;}
#content .content-holder:after{
	content: '';
	display: block;
	clear: both;
}
#content #hero-masonry{
	text-align: center;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#content .content-holder .game-wrap{
	display: inline-block;
	vertical-align: top;
	width: 43.5%;
	/*width:300px;*/
	margin: 0 2.9% 15px 2.9%;
}
#content .game-wrap .image-wrap{
	overflow: hidden;
	border: 1px solid #ccc;
}

#content .game-wrap .image-wrap a{
	display: block;
	height: 100%;
}
#content .game-wrap .image-wrap img{
	width: 100%;
	height: auto;
}
#content .game-wrap .text-wrap{
	text-align: left;
	overflow: hidden;
	padding: 12px 0 0;
	text-transform: capitalize;
}
#content .game-wrap .text-wrap .game-title,
#content .game-wrap .text-wrap .game-date,
#content .game-wrap .text-wrap .game-downloads{
	display: block;
	margin:0 0 9px;
}
#content .game-wrap .text-wrap .game-title a{ color: #4b5c66;}
#content .game-wrap .text-wrap .game-date a{ color: #fe7f19;}
#sidebar{
	position: fixed;
	background: #fff;
	z-index: 9999;
	top: 84px;
	left: 0;
	overflow: hidden;
	height: 100%;
	width:219px;
	overflow: visible;
}
#sidebar .open-close .opener{
	display: block;
	width: 100%;
	text-transform: uppercase;
	background: #ebeff1;
	text-align: center;
	border: 1px solid #ccc;
	padding: 7px;
	margin: 0 0 10px;
}
#sidebar .widget{
	overflow: hidden;
	padding: 0 0 0 15px;
	text-transform: capitalize;
	margin: 0 0 20px;
}
#sidebar .widget.option ul li{
	font-size: 12px;
}
#sidebar .widget .heading{
	font-weight: bold;
	margin: 0 0 13px;
	display: block;
	color: #b8c3c9;
	text-transform: uppercase;
}
#sidebar .widget ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar .widget ul li{
	overflow: hidden;
	margin: 0 0 6px;
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 0 20px;
	background: url(../images/ico1.png) no-repeat;
}
#sidebar .widget ul .view-game{background: url(../images/View-Games.svg) no-repeat;}
#sidebar .widget ul .approve-games{background: url(../images/Approve-Games.svg) no-repeat;}
#sidebar .widget ul .basic-info{background: url(../images/basic-info.svg) no-repeat;}
#sidebar .widget ul .change-password{background: url(../images/change-password.svg) no-repeat;}
#sidebar .widget ul .create-tournament{background: url(../images/create-tournaments.svg) no-repeat;}
#sidebar .widget ul .send-message{background: url(../images/send-message.svg) no-repeat;}
#sidebar .widget ul .view-admin{background: url(../images/view-admin.svg) no-repeat;}
#sidebar .widget ul .view-all-competitions{background: url(../images/view-all-competitions.svg) no-repeat;}
#sidebar .widget ul .view-all-tournmanets{background: url(../images/view-all-tournmanets.svg) no-repeat;}
#sidebar .widget ul .view-developres{background: url(../images/view-developers.svg) no-repeat;}
#sidebar .widget ul .log-out{background: url(../images/Log-Out.svg) no-repeat;}

#sidebar .widget ul .my-games{background: url(../images/GamesIcon.svg) no-repeat;}
#sidebar .widget ul .history{background: url(../images/HistoryIcon.svg) no-repeat;}
#sidebar .widget ul .settings{background: url(../images/SettingsIcon.svg) no-repeat;}

.hide{ display: none;}

/*Form Styling*/
#form-wrap{
	overflow: hidden;
	padding: 0 14% 0 0 ;
}
#form-wrap .row{
	overflow: hidden;
	margin: 0 0 30px;
}
#form-wrap .row .input-wrap:first-child{ float: left;}
#form-wrap .row .input-wrap{
	float: right;
	border-radius: 35px;
	background: #fff;
	border: 1px solid #dbd7e3;
	padding: 4px 11px;
	font-size: 24px !important;
	text-transform: capitalize;
	color: #8f86a3;
	line-height: 28px;
	width: 44%;
}
#form-wrap .row .input-wrap input[type="text"],
#form-wrap .row .input-wrap input[type="password"],
#form-wrap .row .input-wrap input[type="mail"],
.top-form-area .input-wrap input[type="email"]{
	width: 100%;
	outline: none;
	border: 0;
	padding:3px 10px 4px;
	font-size: 18px !important;
	text-transform: capitalize;
	color: #8f86a3;
	line-height: 22px;
	font-weight: normal !important;
}
#form-wrap .row  input[type="submit"]{
	background:#32487f;
	border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    outline: medium none;
    padding: 10px 26px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
#form-wrap .row  input[type="submit"]:hover{
	-webkit-box-shadow:inset  0 0 8px 4px #233258;
	box-shadow:inset  0 0 8px 4px #233258;
}
/*END Form Styling*/

*//////////////////////////////////////////////////////////////////*/
/*REGISTER STYLE*/

.top-form-area{ overflow: hidden;}
	.top-form-area .main-holder{
		overflow: hidden;
		padding: 0;
	}
	.top-form-area .main-holder .block{
		float: left;
		width:50%;
	}
	.top-form-area .main-holder .form-wrap{
		overflow: hidden;
		padding:30px 4% 0;
	}
	.top-form-area .main-holder .row{
		overflow: hidden;
		margin: 0 0 20px !important;
		padding: 0;
	}
	.top-form-area .input-wrap:first-child{ margin: 0;}
	.top-form-area .input-wrap{
		border-radius: 35px;
		background: #fff;
		border: 1px solid #dbd7e3;
		padding: 4px 11px;
		font-size: 24px !important;
		text-transform: capitalize;
		color: #8f86a3;
		line-height: 28px;
		width: 44.4%;
		float: left;
		margin: 0 0 0 5%;
	}
	.top-form-area .input-wrap input[type="text"],
	.top-form-area .input-wrap input[type="password"],
	.top-form-area .input-wrap input[type="mail"],
	.top-form-area .input-wrap input[type="email"]{
		width: 100%;
		outline: none;
		border: 0;
		padding:0 10px 1px;
		font-size: 18px !important;
		text-transform: capitalize;
		color: #8f86a3;
		line-height: 22px;
		font-weight: normal !important;
	}
	.top-form-area input[type="submit"]{
	background:#32487f;
    border: none;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    outline: medium none;
    padding: 8px 24px;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	}
	.top-form-area input[type="submit"]:hover{
		background: #3f5a9c;
	}
/*register end*/

/*//////////////////////////////////////////////////////////////////*/

/*Table style Start*/
#content .table-wrapper{padding: 5px 5px 0 0 ;}
#content .table-wrapper:after{
	content: '';
	display: block;
	clear: both;
}
#content .table-wrapper .holder{margin: 0 0 55px;}
#content .table-wrapper .holder .block{
	float: left;
	width: 50%;
	padding: 0;
}
#content .table-wrapper .holder .block.wide-view{
	width: 100%;
	margin:  0 0 20px
}
#content .table-wrapper .holder.even .block .heading,
#content .table-wrapper .block .heading{
	color: #362e7e;
	font-size: 18px;
	line-height: 22px;
	text-transform: capitalize;
	margin: 0 0 18px;
}
#content .table-wrapper .holder.even .block .heading{color: #444040;}

/*table style*/
#content .table-wrapper .block .table-area{overflow: hidden;}

#sample-table-2_length,
#sample-table-2_filter,
#sample-table-3_length,
#sample-table-3_filter{
	color:#3d9dbc !important;
	margin: 0 0 10px;
}
#sample-table-4_length,
#sample-table-4_filter,
#sample-table-5_length,
#sample-table-5_filter{
	color:#8f827f !important;
	margin: 0 0 10px;
}

#sample-table-2_length select,
#sample-table-3_length select,
#sample-table-4_length select,
#sample-table-5_length select{
	color:#3d9dbc !important;
	text-align: center;
}

#sample-table-4_length select,
#sample-table-5_length select{
	color:#8f827f !important;
}
#sample-table-2_filter input,
#sample-table-3_filter input,
#sample-table-4_filter input,
#sample-table-5_filter input{
	padding: 4px 7px;
	border-radius: 5px;
	border: 1px solid #3d9dbc;
	outline: none;
	color:#3d9dbc !important;
	margin:0 0 0 20px !important;
}
#sample-table-4_filter input,
#sample-table-5_filter input{
	border: 1px solid #8f827f;
	color:#8f827f !important;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
.holder.even table.dataTable thead .sorting,
.holder.even table.dataTable thead .sorting_asc{
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	background-color:#7e75ae !important;
}
table.dataTable thead th, table.dataTable thead td{
	padding: 6px 18px !important;
}
.holder.even table.dataTable thead .sorting,
.holder.even table.dataTable thead .sorting_asc{ background-color: #908380 !important;}
#sample-table-2_info.dataTables_info,
#sample-table-3_info.dataTables_info,
#sample-table-4_info.dataTables_info,
#sample-table-5_info.dataTables_info{
	padding: 15px 0 0 0 !important;
	float: left !important;
	clear: both !important;
	color: #3d9dbc;
}
#sample-table-2_paginate a,
#sample-table-3_paginate a,
#sample-table-4_paginate a,
#sample-table-5_paginate a{ color:#625b9e !important;}
#sample-table-2_paginate a:hover,
#sample-table-2_paginate a.current,
#sample-table-3_paginate a:hover,
#sample-table-3_paginate a.current,
#sample-table-4_paginate a:hover,
#sample-table-4_paginate a.current,
#sample-table-5_paginate a:hover,
#sample-table-5_paginate a.current{ color:#fff !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    min-width:30px;
    padding:4px 10px !important;
    text-align: center;
    text-decoration: none !important;
}
.dataTables_wrapper .dataTables_paginate{
	overflow: hidden !important;
	float: none !important;
    padding: 10px 0 0 10px ;
    text-align: right;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
	border: none !important;
	background:url(../images/info-divider.png) repeat-y 100% 0 !important;
	text-align: center;
	text-transform: capitalize;
}
.holder.even .table > thead > tr > th,
.holder.even .table > tbody > tr > th,
.holder.even .table > tfoot > tr > th,
.holder.even .table > thead > tr > td,
.holder.even .table > tbody > tr > td,
.holder.even .table > tfoot > tr > td{
	background:url(../images/divider-2.png) repeat-y 100% 0 !important;
}
.table-striped > tbody > tr:nth-child(2n+1){
	background-color:#ecf2f5;
	color: #7f7775;
}
table.dataTable tbody tr{
	color: #362e7e;
	background: #fff;
}

.holder.even table.dataTable tbody tr{
	color: #8f827f;
	background: #fff;
}
.table-striped > tbody > tr:nth-child(2n+1) a{
	color: #7f7775;
	text-decoration: underline;
}
.table-striped > tbody > tr:nth-child(2n+1) a:hover{ text-decoration: none;}
table.dataTable tbody tr a{ color: #362e7e;}
.holder.even table.dataTable tbody tr a{ color: #8f827f;}

.paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background:#837ab1 !important;
    text-decoration: none !important;
    color: #fff !important;
}
table.dataTable.no-footer{border:1px solid #514d95 !important;}
.holder.even table.dataTable.no-footer{border:1px solid #645a58 !important; }

/*table end*/

@media only screen and (max-width:1500px){}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#content .content-holder .game-wrap{
		width: 30%;
		margin: 0 1.2% 40px;
	}
	#content.content-holder{ text-align: left;}
	#header{
		padding: 7px 30px;
		border-bottom: 1px solid #ccc;
		position: fixed;
		width: 100%;
		z-index: 9999;
		top: 0;
		background:#fff;
	}
	#header .logo{margin:0 68px 0 0;}
	#content .header .info-area .links-area{
	float: right;
	width: auto;
	margin: 0;
	}
	#content .header .info-area .info span:first-child{ margin: 0;}
	#content .header .info-area .info span{
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 30px;
	}
	#content .header .info-area .info,
	#content .header .info-area .links-area{
		text-align: left;
	}
	#content .header .user-area .user-details{
		overflow: hidden;
		width: auto;
		text-align: left;
		margin: 0;
	}
	#sidebar .open-close .opener{ display: none;}

	#sidebar .open-close .slide{
		display: block !important;
		position: static !	important;
	}
	#main #content .content-heading{
		overflow: hidden;
		padding:20px 0 ;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#content .content-holder .game-wrap{
		width: 18%;
		margin: 0 1.6% 20px 0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}