* { max-height: 100000px; }
body {
	background: #fff;
	color: #89949b;
	font: 12px/15px "Lucida Grande", "Lucida Sans", sans-serif;
	margin: 0;
	min-width: 320px;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
img { border-style: none; }
form,
fieldset {
	border-style: none;
	margin: 0;
	padding: 0;
}
input,
textarea,
select {
	color: #4c505d;
	font: 12px/15px "Lucida Grande", "Lucida Sans", sans-serif;
	vertical-align: middle;
}
.top-bar{
	border-bottom:1px solid #eee;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.12);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.12);
}
.logo
@media only screen and (max-width:1500px){
	
}