@font-face {
	font-family: 'luzsans-boldluzsans-bold';
	src: url('../fonts/luzhpbro-webfont.eot');
	src: url('../fonts/luzhpbro-webfont.eot?#iefix') format('embedded-opentype')/*, url('../fonts/luzhpbro-webfont.woff') format('woff')*/, url('../fonts/luzhpbro-webfont.ttf') format('truetype'), url('../fonts/luzhpbro-webfont.svg#luzsans-boldluzsans-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'luzsans-lightluzsans-light';
	src: url('../fonts/luzhplro-webfont.eot');
	src: url('../fonts/luzhplro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/luzhplro-webfont.woff') format('woff'), url('../fonts/luzhplro-webfont.ttf') format('truetype'), url('../fonts/luzhplro-webfont.svg#luzsans-lightluzsans-light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'luzsans-bookluzsans-book';
	src: url('../fonts/luzhporo-webfont.eot');
	src: url('../fonts/luzhporo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/luzhporo-webfont.woff') format('woff'), url('../fonts/luzhporo-webfont.ttf') format('truetype'), url('../fonts/luzhporo-webfont.svg#luzsans-bookluzsans-book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'luzsans-mediumluzsans-medium';
	src: url('../fonts/luzhpmro-webfont.eot');
	src: url('../fonts/luzhpmro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/luzhpmro-webfont.woff') format('woff'), url('../fonts/luzhpmro-webfont.ttf') format('truetype'), url('../fonts/luzhpmro-webfont.svg#luzsans-mediumluzsans-medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
* { max-height: 100000px; }
body {
	background:#132936;
	color: #132936;
	font: 16px/19px 'luzsans-bookluzsans-book', Arial, sans-serif;
	margin: 0;
	min-width: 320px;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
img { border-style: none; }
form,
fieldset {
	border-style: none;
	margin: 0;
	padding: 0;
}
input,
textarea,
select {
	color: #4c505d;
	font: 16px/19px 'luzsans-bookluzsans-book', Arial, sans-serif;
	vertical-align: middle;
}
#wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
}
#header{ position:relative; }
#header .top-bar{
	background:#132936;
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index:99999;
	border-top:1px solid #fff;
}
#header .logo{
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/logo.png) no-repeat;
	width:313px;
	height:59px;
	background-size:313px 59px;
	margin:12px 0 12px 20px;
	position:absolute;
	top:12px;
	left:50%;
	margin:0 0 0 -78px;
}
#header .logo a{
	display:block;
	height:100%;
}
/*#header .panel{ overflow:hidden; }*/
#header .register{
	color:#fff;
	display:inline-block;
	vertical-align:middle;
}
#header .search-area{
	background:#0e202b;
	float:left;
	text-align:center;
	width:200px;
	padding:14px;
    position: relative;
}
#header .search-area .call{
	font:14px/17px 'luzsans-boldluzsans-bold', Arial, sans-serif;
	display:block;
	text-align:center;
	color:#fff;
	margin:0 0 15px;
	text-transform:uppercase;
}
#header .search-area .call span{ font-family: 'luzsans-lightluzsans-light', Arial, sans-serif; }
#header .search-area .search-form{
	overflow:hidden;
	position:relative;
	padding:30px 0;
}
#header .search-area input[type="submit"]{
	margin:0;
	padding:0;
	border:none;
	background:#e6313a;
	color:#fff;
	cursor:pointer;
	width:140px;
	height:32px;
	border-radius:3px;
	cursor:pointer;
}
#header .search-area input[type="text"],
#header .search-area .search{
	border:none;
	margin:0 auto 40px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	height:23px;
	padding:0 32px 0 15px;
	display:block;
	width:90%;
	font:12px/15px 'luzsans-lightluzsans-light', Arial, sans-serif;
	color:#fff;
	background:#273741;
	border-radius:20px;
}
#header .register-form{
    position:absolute;
    left:0;
    top:100%;
    width:100%;
    background:#132936;
    /*border:solid #000;
    border-width:2px 2px 2px 0;
    */clear:both;
    z-index: 100;
}
.nav-area .social-networks{
	margin:0;
	padding:28px 0;
	list-style:none;
	float:left;
	text-align:center;
}
.nav-area .social-networks li{
	display:inline-block;
	vertical-align:middle;
	margin:0 2px;
}
.nav-area .social-networks a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:28px;
	height:25px;
	background:url(../images/ico-social.png) no-repeat;
}
.nav-area .social-networks .twitter a{ background-position:-36px 0; }
.nav-area .social-networks .facebook a{ background-position:100% 0; }
.nav-area,
#nav{
	float:right;
	text-align:center;
	overflow:hidden;
	font-size:12px;
	line-height:15px;
}
#nav .opener{
	width:80px;
	height:80px;
	border-right:2px solid #000;
	background:url(../images/ico-menu.png) no-repeat 50% 50%;
	background-size:25px 18px;
	overflow:hidden;
	text-indent:-9999px;
	float:right;
	position:relative;
}
/*#nav ul.js-slide-hidden {
	display: block !important;
	left: 0px !important;
	position: static !important;
	top: 0px !important;
}*/
#nav ul{
	margin:0;
	padding:0;
	list-style:none;
	text-transform:uppercase;
	position:absolute;
	right:0;
	top:100%;
	width:200px;
	background:#132936;
	/*border:solid #000;
	border-width:2px 0 2px 2px;
	*/clear:both;
    z-index: 100;
}
#nav li{
	/*display:inline-block;
	vertical-align:middle;*/
}
#nav ul a{ 
	color:#fff;
	display:block;
	padding:34px 20px;
    background:#132936;
}
#nav .active a,
#nav ul a:hover{
	text-decoration:none;
	background:#0e202b;
}
#main{  }
#main .slider {
    position: relative;
}
#main .slider .btn-prev,
#main .slider .btn-next {
	position: absolute;
	left: 20px;
	top: 50%;
	z-index: 99999;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/ico-prev.png) no-repeat 50% 50%;
	width: 44px;
	height: 44px;
	border:1px solid #514a49;
	background-size:12px 20px;
}
#main .slider .btn-next {
	left: auto;
	right: 20px;
	background:url(../images/ico-next.png) no-repeat 50% 50%;
	background-size:12px 20px;
}
#main .slider .mask {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#main .slider .slideset {
	float: left;
	width: 99999px;
}
#main .slider .slide {
	width: 100%;
	float: left;
	position: relative;
}
#main .slider .slide.active { z-index: 10000; }
#main .slider .image-holder {
	background: url(../images/banner/Banner_1.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
#main .slider .image-holder.img2 {
	background: url(../images/banner/Banner_2.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
#main .slider .image-holder.img3 {
	background: url(../images/banner/Banner_3.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
#main .slider .image-holder.img4 {
	background: url(../images/banner/img3.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
#main .slider .description{ 
	text-align:center;
	color:#fff;
}
#main .slider .description .title{
	display:block;
	font:20px/23px 'luzsans-lightluzsans-light', Arial, sans-serif;
	margin:0 0 10px;
}
#main .slider .description h2{
	font:36px/39px 'luzsans-mediumluzsans-medium', Arial, sans-serif;
	margin:0 0 30px;
}
#main .slider .btn{
	display:inline-block;
	vertical-align:middle;
	border:2px solid #544d4b;
	font:16px/44px 'luzsans-bookluzsans-book', Arial, sans-serif;
	text-align:center;
	color:#fff;
	min-width:230px;
	position:relative;
}
#main .slider .btn span{
	background:url(../images/ico-next.png) no-repeat 100% 50%;
	background-size:12px 20px;
	display:inline-block;
	vertical-align:middle;
	padding:0 20px 0 0;
}
#main .slider .btn::before,
#main .slider .btn::after  {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
	border: 2px solid #354856;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

#main .slider .btn::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

#main .slider .btn:hover::before,
#main .slider .btn:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

#main .slider .btn:hover::after,
#main .slider .btn:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}
/*
#main .slider .edu-logo{
	position:absolute;
	left:50%;
	margin:0 0 0 -38px;
	top:42.2%;
	width:77px;
	height:78px;
	z-index: 99999;
}
*/
#main .slider .edu-logo{
	margin:0 0 10px;
	width:77px;
	height:78px;
	z-index: 99999;
}
#main .slider .note{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:#e6313a;
	z-index:10001;
	padding:15px 0 12px;
}
#main .slider .note strong{
	font:18px/21px 'luzsans-boldluzsans-bold', Arial, sans-serif;
	display:block;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
}
#main .slider .note span{
	text-transform:none;
	font-family: 'luzsans-mediumluzsans-medium', Arial, sans-serif;
	margin:0 0 0 30px;
}
#main .welcome-area{ 
	padding:0 50px;
	background:#f7f7f7;
}
#main .welcome-area .holder{ padding:100px 0;}
#main .welcome-area h1{
	font:34px/37px 'luzsans-lightluzsans-light', Arial, sans-serif;
	margin:0 0 50px;
	text-align:center;
	color:#e6313a;
}
#main .welcome-area p{ margin:0 0 20px; }
#main .welcome-area ul { margin:0; }
#main .welcome-area ul li{ margin:10px 0 0;}
#main .testimonial-area{
	background:url(../images/img2.jpg) no-repeat center center;
	background-size:cover;
	background-attachment:fixed;
}
#main .testimonial-area .holder{ overflow:hidden; }
#main .testimonial-area .testi{
	float:right;
	max-width:520px;
	text-align:center;
	color:#fff;
	padding:0 50px;
	font:14px/16px 'luzsans-lightluzsans-light', Arial, sans-serif;
}
#main .testimonial-area h1{
	font:45px/48px 'luzsans-boldluzsans-bold', Arial, sans-serif;
	text-transform:uppercase;
	margin:0 0 20px;
}
#main .testimonial-area p{ margin:0 0 20px; }
#main .testimonial-area .author{
	display:block;
	font-family: 'luzsans-mediumluzsans-medium', Arial, sans-serif;
	font-style:italic;
	text-align:right;
}
#main .contact-area{
	background:url(../images/map1.jpg) no-repeat center center;
	background-size:cover;
	background-attachment:fixed;
	position:relative;
}
#main .contact-area h1{
	font:28px/31px 'luzsans-lightluzsans-light', Arial, sans-serif;
	margin:0 0 20px;
	color:#797979;
}
#main .contact-area .form{
	position:absolute;
	right:50px;
	bottom:-30px;
	width:400px;
	padding:20px 40px 60px;
	background:#fff;
	border-radius:10px;
	border:solid #d8d8d8;
	border-width:0 1px 1px;
	border-top:10px solid #e6313a;
}
#main .contact-area .email,
#main .contact-area input[type="text"]{
	padding:0 12px;
	margin:0 0 20px;
	border:1px solid #d8d8d8;
	height:29px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:#fff;
	width:100%;
}
#main .contact-area textarea{
	padding:8px 12px;
	margin:0 0 20px;
	border:1px solid #d8d8d8;
	height:120px !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:#fff;
	width:100% !important;
}
#main .contact-area input[type="submit"]{
	margin:0;
	padding:0;
	border:none;
	background:#e6313a;
	color:#fff;
	cursor:pointer;
	width:140px;
	height:32px;
	border-radius:3px;
	cursor:pointer;
	float:right;
}
.message-box{
	width:100%;
	margin:0 auto 20px;
	padding:10px;
	text-align:center;
	display:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.message-box p{ margin:0 0 8px !important;}
.error {
	background: #fcf;
	color: #f00;
	border: 1px solid #f00;
}
.success {
	background:#2690db;
	color:#fff;
	border: 1px solid #fff;
}
#main .media-area{ background:#f7f7f7; padding:0 50px; }
#main .media-area .holder{ padding:106px 0 0;}
#main .media-area h1{
	font-size:60px;
	line-height:63px;
	margin:0 0 30px;
	text-align:center;
	text-transform:uppercase;
}
#main .media-area p{ margin:0 0 20px; }
#main .media-content{ text-align:center; }
#main .media-content .slideshow{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	width:520px;
}
#main .media-content .slideshow .mask{
	width:100%;
	overflow:hidden;
	position: relative;
	border-radius:100%;
	border:1px solid #bdbdbd;
}
#main .media-content .slideshow .slideset{
	float:left;
	width:100%;
}
#main .media-content .slideshow .slide{
	width:100%;
	float:left;
}
#main .media-content .slideshow img{
	display:block;
	width:100%;
	height:auto;
}
#main .media-content .slideshow .btn-prev,
#main .media-content .slideshow .btn-next {
	position: absolute;
	left: 10px;
	top: 50%;
	z-index: 999;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/ico-prev2.png) no-repeat;
	width: 30px;
	height: 30px;
	margin:-15px 0 0;
}
#main .media-content .slideshow .btn-next {
	left: auto;
	right: 10px;
	background:url(../images/ico-next2.png) no-repeat;
}
#main .media-content .text-area{
	display:inline-block;
	vertical-align:middle;
	width:40%;
	text-align:left;
}
#main .media-content .image-section{ 
	overflow:hidden;
	margin:0 0 20px;
}
#main .media-content .image-section img{
	float:left;
	margin:0 10px 0 0;
}



/*Hussnain Css */

#main .top-image{
	width:100%;
	overflow:hidden;
	padding:84px 0 0 ;
}
#main .top-image img{
	display:block;
	height:auto;
	width:100%;
}
#main .exibitor-wrap{
	padding:0 50px 0;
	background:#f7f7f7;
}
#main .exibitor-wrap>.holder.odd{ top:-220px; }
#main .exibitor-wrap>.holder{
	background:#fff;
	z-index:1;
	border:1px solid #aaa1a4;
	padding:40px 0 0;
	position:relative;
	top:-50px;
}
#main .exibitor-wrap>.holder>.head{
	overflow:hidden;
	text-align:center;
	padding:40px 0;
}
#main .exibitor-wrap .head h2{
	margin:0;
	font-size:22px;
	line-height:25px;
}
#main .exibitor-wrap .head .h-wrap{
	position:relative;
	font-size:22px;
	line-height:25px;
	color:#000;
}
#main .exibitor-wrap .head .h-wrap.v-wrap{
	position:relative;
}
#main .exibitor-wrap .head .h-wrap.v-wrap:after{
	left:100px;
}

#main .exibitor-wrap .head .h-wrap:after{
	position:absolute;
	background:url(../images/text-bar.png) no-repeat;
	top:35px;
	left:10px;
	content:'';
	height:1px;
	width:41px;
}
#main .exibitor-wrap .head a{
	font-size:12px;
	line-height:14px;
	color:#ccc;
}
.exibitor-wrap .head .slash{
	margin:0 10px 0;
	display:inline-block;
	color:#000;

}
.exibitor-wrap .data-wrap{ overflow:hidden;}
.exibitor-wrap .data-row{
	overflow:hidden;
	display:table;
	width:100%;
}
.exibitor-wrap .data-row .icon-area{
	text-align:center;
	width:49.4%;
	display:inline-block;
	vertical-align:top;
	border-top:1px solid #ceccca;
	display:table-cell;
	vertical-align:middle;
}
.exibitor-wrap .data-row .icon-holder{ overflow:hidden;}
.exibitor-wrap .data-row .text-area{
	width:50.4%;
	display:table-cell;
	vertical-align:middle;
	margin:0 0 0 -3px;
	border:solid #cdccc9;
	border-width:1px 0 0 1px;
	padding:38px 0;
}
.exibitor-wrap .data-row .text-area.grand{ text-align:center;}
.exibitor-wrap .data-row .text-area .post-area{
	margin:0;
	padding:0;
	list-style:none;
}
.exibitor-wrap .text-area .post-area .title{
	font-size:16px;
	line-height:18px;
	color:#eb3234;
	text-transform:capitalize;
	display:block;
	margin:0 0 2px;
}
.exibitor-wrap .text-area .post-area .sub-title{
	display:block;
	font-size:14px;
	line-height:16px;
	margin:0 0 2px;
}
.exibitor-wrap .data-row .text-area .post-area li{
	overflow:hidden;
	margin:0 0 14px;
}
.exibitor-wrap .data-row .text-area .holder{
	overflow:hidden;
	width:52%;
	margin:0 auto;
}
.exibitor-wrap .data-row .text-area .download{
	min-width:124px;
	background:#132936;
	padding:11px 15px;
	color:#fff;
	display:inline-block;
	vertical-align:top;
	border-bottom:2px solid #782b33;
}
.exibitor-wrap .data-row .text-area .download:hover{
	text-decoration:none;
}
.exibitor-wrap .data-row .text-area .download span{
	/*background:url(../images/ico-plus.png) no-repeat 0 50%;*/
	padding:0 0 0 10px;
}

.exibitor-wrap .data-row .text-area.stand-option{
	text-align:left;}
.exibitor-wrap .data-row .text-area .head{
	overflow:hidden;
	margin: 0 0 20px;
}
.exibitor-wrap .data-row .text-area p{ margin: 0 0 10px;}
.exibitor-wrap .data-row .text-area .head .title,
.exibitor-wrap .data-row .text-area .head .sub-title{
	display:block;
	vertical-align:top;
}
.exibitor-wrap .data-row .text-area .head .title{
	font-size:18px;
	margin:0 0 2px;
}
.exibitor-wrap .data-row .text-area .head .sub-title{color:#eb2d2f;}


.exibitor-wrap .icon-area img{
	display:block;
	margin:0  auto 26px;
}
.exibitor-wrap .data-row .text-area .stay{ overflow:hidden;}
.exibitor-wrap .data-row .text-area .stay .title{}
.exibitor-wrap .data-row .text-area .stay ul{
	margin:0;
	padding:0;
	list-style:none;
}
.exibitor-wrap .data-row .text-area .stay ul a{
	color:#000;
}
.exibitor-wrap .data-row .text-area .stay ul li{
	overflow:hidden;
	margin:0 0 2px;
}

#main .connects-wrap{
	position:relative;
	top:-130px;
	width:100%;
	height:700px;
	background:url(../images/img_02.jpg) no-repeat center center;
	background-attachment:fixed;
	background-size:cover;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:30px;

	line-height:36px;
}
#main .connects-wrap p{ margin:0;}
#main .connects-wrap p span{
	color:#eb2d2f;
	
}
.exibitor-wrap .data-row .text-area p span{color:#eb2d2f;}

/*Hussnain CSS End*/



#footer{
	background:#132936;
	border-top:5px solid #0d131a;
}
#footer .f-content{
	padding:60px 50px 20px;
	overflow:hidden;
	border-bottom:2px solid #fff;
}
#footer .logo{
	float:left;
	width:313px;
	height:59px;
}
#footer .logo img{
	display:block;
	width:100%;
	height:auto;
}
#footer .f-nav{
	overflow:hidden;
	text-align:right;
	padding:20px 0;
	margin:0;
	font-size:14px;
	line-height:17px;
}
#footer .f-nav li:first-child{ margin:0; }
#footer .f-nav li{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 14px;
}
#footer .f-nav a{ color:#fff; }
#footer .info{ 
	overflow:hidden;
	padding:12px 50px;
}
#footer .copy{
	display:block;
	overflow:hidden;
	color:#fff;
	font-size:12px;
	line-height:15px;
	padding:5px 0 0 ;
}
#footer .social-networks{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
#footer .social-networks li{
	float:left;
	margin:0 2px;
}
#footer .social-networks a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:28px;
	height:25px;
	background:url(../images/ico-social.png) no-repeat;
}
#footer .social-networks .twitter a{ background-position:-36px 0; }
#footer .social-networks .facebook a{ background-position:100% 0; }
#footer .by{
	display:block;
	overflow:hidden;
	color:#fff;
	font-size:12px;
	line-height:15px;
	clear:both;
}
#footer .by a{ color:#fff; }
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.lightbox .form3,
.lightbox .form2{
	margin:0 auto;
	width:300px;
	padding:20px 40px 60px;
	background:#fff;
	border-radius:10px;
	border:solid #d8d8d8;
	border-width:0 1px 1px;
	border-top:10px solid #e6313a;
}
.lightbox .email,
.lightbox input[type="text"]{
	padding:0 12px;
	margin:0 0 20px;
	border:1px solid #d8d8d8;
	height:29px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:#fff;
	width:100%;
}
.lightbox h1{
	font:18px/21px 'luzsans-lightluzsans-light', Arial, sans-serif;
	margin:0 0 20px;
	color:#797979;
}
.lightbox input[type="submit"]{
	margin:0;
	padding:0;
	border:none;
	background:#e6313a;
	color:#fff;
	cursor:pointer;
	width:140px;
	height:32px;
	border-radius:3px;
	cursor:pointer;
	float:right;
}
@media only screen and (max-width:1500px){
	#main .testimonial-area{ 
		background:url(../images/img2.jpg) no-repeat 30% center;
		background-size:cover;
		background-attachment:fixed;
	}
	#main .slider .edu-logo{top:38.2%; }
}
@media only screen and (max-width:1200px){
	/*#nav{ width:100%; }*/
	#main .media-content .text-area{ width:100%; }
	#main .media-area .holder{ padding:198px 0 0; }
	#main .top-image{ padding:167px 0 0; }
	#main .slider .edu-logo{ top:175px; }
}
@media only screen and (max-width:979px){
	#main .testimonial-area{ background:#1a2c3a; }
	#main .testimonial-area .testi{
		float:none;
		margin:0 auto;
		padding:0 10px;
	}
	#footer .info{ padding:12px 10px; }
	#footer .f-content{
		padding:60px 10px 20px
	}
	.nav-area .social-networks{ display:none; }
}
@media only screen and (max-width:767px){
	#header .logo{
		display:block;
		margin:0 auto 10px;
		float:none;
		position:static;
	}
	#nav .opener{
		border:2px solid #000;
		width:67px;
		height:67px;
	}
	#main .slider .description h2,
	#main .slider .description .title{ margin:0 0 15px; }
	#header .top-bar{ padding:10px 0 0; }
	#header .search-area{ padding:8px; }
	#header .search-area .call{ 
		margin:0 0 4px;
		font-size:12px;
		line-height:15px;
	}
	#main .media-area h1{
		font-size:30px;
		line-height:33px;
	}
	#main .media-area,
	#main .welcome-area{ padding:0 10px;}
	#main .testimonial-area h1{
		font-size:38px;
		line-height:41px;
	}
	#main .media-content .image-section img{
		float:none;
		margin:0 auto 10px;
		display:block;
	}
	#main .media-content .slideshow{ 
		width:300px;
		margin:0 0 20px;
	}
	#main .exibitor-wrap{ padding:0 10px; }
	.exibitor-wrap .data-row .icon-area{
		display:block;
		width:100%;
		padding:38px 0;
	}
	.exibitor-wrap .data-row .text-area{
		display:block;
		width:100%;
		text-align:center;
	}
	.exibitor-wrap .data-row .text-area.stand-option{ text-align:center; }
	.exibitor-wrap .data-row .text-area .holder{ width:90%; }
	#main .top-image img{ height:84px; }
	#main .top-image{ padding:138px 0 0; }
	/*#nav ul a{ padding:26px 14px; }*/
	#nav{ width: auto;}
	/*#nav .opener{
		display:block;
	}
	#nav ul.js-slide-hidden {
		display: block !important;
		left: -9999px !important;
		position: absolute !important;
		top: -9999px !important;
	}
	#nav ul{
		position:absolute;
		left:0;
		top:100%;
		width:200px;
		background:#132936;
		border:solid #000;
		border-width:2px 2px 2px 0;
		padding:20px 20px 0;
	}
	#nav li{
		display:block;
		margin:0 0 5px;
	}
	#nav ul a{
		padding:10px 0;
	}*/
	#main .contact-area .form{
		right:auto;
		left:50%;
		margin:0 0 0 -150px;
		width:220px;
	}
	#header .note{ padding:10px 0 8px; }
	#footer .logo{
		display:block;
		float:none;
		margin:0 auto;
	}
	#footer .by{
		text-align:center;
		margin:20px 0;
	}
	#footer .f-nav{
		text-align:center;
	}
	#main .slider .edu-logo{ top:100px; }
	#main .contact-area{
		background:#f7f7f7;
		position:relative;
	}
	#main .contact-area iframe{ display:none; }
	#nav ul a{ padding:19px 20px;}
	/*#main .testimonial-area{ 
		background:url(../images/img2.jpg) no-repeat 22% center;
		background-size:cover;
		background-attachment:fixed;
	}*/
}
@media only screen and (max-width:599px){
	#main .slider .btn-prev,
	#main .slider .btn-next { display:none;}
	#main .slider .description h2{
		font-size:26px;
		line-height:29px;
	}
	#header .note strong{
		font-size:14px;
		line-height:17px;
	}
	#footer .f-content{
		padding:60px 0 20px
	}
	#header .search-area{ padding:16px 8px; }
	#header .search-area .search-form{
		padding:10px 0;
	}
	#header .search-area input[type="text"],
	#header .search-area .search{ margin:0 auto 20px; }
	/*#nav{ margin:-70px 0 0; }
	#nav .opener{ border-bottom: 2px solid #000;}
	#header .logo{
		width:59px;
		position:relative;
		z-index:20;
	}
	#header .search-area .search-form{ display:none; }
	#header .search-area{ 
		width:72px;
		margin:-70px 0 0;
	}
	#header .search-area .call{ margin:0; }
	#header .search-area .call span{ display:block; }*/
}
@media only screen and (max-width:479px){
	#header .note span{ 
		margin:0;
		display:block;
	}
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}
#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(../images/fancybox/fancybox.png);
}
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}
#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px; /* should be 20px */
	z-index: 1101;
	outline: none;
	display: none;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}
#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff; /* border-width should be zero */
}
#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}
#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(../images/fancybox/fancybox.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}
#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}
#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}
#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}
#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url(../images/fancybox/blank.gif);
	z-index: 1102;
	display: none;
}
#fancybox-left {
	left: 0px;
}
#fancybox-right {
	right: 0px;
}
#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}
#fancybox-left-ico {
	background-image: url(../images/fancybox/fancybox.png);
	background-position: -40px -30px;
}
#fancybox-right-ico {
	background-image: url(../images/fancybox/fancybox.png);
	background-position: -40px -60px;
}
#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}
#fancybox-left:hover span {
	left: 20px;
}
#fancybox-right:hover span {
	left: auto;
	right: 20px;
}
.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}
#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url(../images/fancybox/fancybox-x.png);
}
#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url(../images/fancybox/fancybox.png);
	background-position: -40px -162px;
}
#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url(../images/fancybox/fancybox-y.png);
	background-position: -20px 0px;
}
#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url(../images/fancybox/fancybox.png);
	background-position: -40px -182px; 
}
#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url(../images/fancybox/fancybox-x.png);
	background-position: 0px -20px;
}
#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url(../images/fancybox/fancybox.png);
	background-position: -40px -142px;
}
#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url(../images/fancybox/fancybox-y.png);
}
#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url(../images/fancybox/fancybox.png);
	background-position: -40px -122px;
}
#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}
.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}
.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}
.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}
#fancybox-title-over {
	padding: 10px;
	background-image: url(../images/fancybox/fancy_title_over.png);
	display: block;
}
.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}
#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}
#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}
#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url(../images/fancybox/fancybox.png) -40px -90px no-repeat;
}
#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url(../images/fancybox/fancybox-x.png) 0px -40px;
}
#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url(../images/fancybox/fancybox.png) -55px -90px no-repeat;
}

/* IE6 */
.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_close.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_nav_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}
#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}
#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg { background: transparent !important; }
.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
.hidden {
    display: none;
}
