form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
.inner {
	background: #f5f5f5;
	color: #565a5c;
	font: 16px/19px 'PT Sans', Arial, sans-serif;
}
::-moz-placeholder {
 opacity: 1;
}
.inner header .top-bar{ padding:20px;}
.inner header .top-bar:after {
	display: block;
	content: '';
	clear: both;
}
.inner header .logo-area {
	text-align:center;
	margin:0 0 10px;
	padding:0;
}
.inner header .logo {
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/logo2.png) no-repeat;
	width: 167px;
	height: 28px;
	display: block;
	margin:0 auto 10px;
}
.inner header .logo a {
	display: block;
	height: 100%;
}
.inner header .loc-form {
	display: block;
	width: 100%;
	margin: 0 auto 10px;
}
.inner header .loc-form input[type="text"] {
	width: 100%;
	height: 31px;
	border: 1px solid #afb1b2;
	background: #fff url(../images/ico-location.png) no-repeat 12px 50%;
	margin: 0;
	padding: 0 10px 0 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #686f71;
}
.inner header .small-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align:middle;
	font-size: 15px;
	line-height: 18px;
}
.inner header .small-menu>li {
	position: relative;
	background: url(../images/arrow.png) no-repeat 100% 65%;
	padding: 0 15px 0 0;
}
.inner header .small-menu>li a {
	color: #33383b;
	text-decoration: none;
}
.inner header .small-menu>li:hover .drop{ display:block; }
.inner header .small-menu .drop{
	display:none;
	position: absolute;
	left: 0;
	top: 100%;
	padding:15px 0 0;
}
.inner header .small-menu ul {
	background: #fff;
	margin: 0;
	padding: 20px 20px 8px;
	list-style: none;
	border: 1px solid #cdcfd0;
	position:relative;
}
.inner header .small-menu ul:after,
.inner header .small-menu ul:before {
	bottom: 100%;
	left: 22%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.inner header .small-menu ul:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 14px;
	margin-left: -14px;
}
.inner header .small-menu ul:before {
	border-color: rgba(205, 207, 208, 0);
	border-bottom-color: #cdcfd0;
	border-width: 15px;
	margin-left: -15px;
}
.inner header .small-menu ul li{ margin:0 0 12px;}
.inner header .right-area{
	text-align:center;
}
.inner header .right-area a{
	margin:0 0 0 15px;
	color: #33383b;
	text-decoration:none;
}
.inner header .help,
.inner header .profile {
	display:inline-block;
	vertical-align:middle;
	background: url(../images/arrow.png) no-repeat 100% 65%;
	padding: 0 15px 0 0;
}
.inner header .email{
	display:inline-block;
	vertical-align:middle;
	background:url(../images/ico-mail.png) no-repeat;
	width:22px;
	height:15px;
	overflow:hidden;
	text-indent:-9999px;
}
.inner header .pic{
	width:33px;
	height:33px;
	background:#fff;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #b3b5b6;
	border-radius:33px;
}
.inner header .btn.btn-sky{ color:#fff; }
.inner header .nav{
	margin:0;
	padding:0 20px;
	list-style:none;
	background:#565a5c;
	font-weight:700;
	font-size:15px;
	line-height:18px;
	overflow:hidden;
}
.inner header .nav li{
	float:left;
	margin:0 10px 0 0;
}
.inner header .nav a{ 
	color:#afb1b2;
	display:block;
	padding:14px 4px;
}
.inner header .nav a:hover{
	border-bottom:6px solid #c8cacb;
	padding:14px 4px 8px;
	color:#fff;
}
#main{
	padding:20px;
	overflow:hidden;
}
#sidebar{
	width:100%;
	float:none;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#sidebar .sidenav{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:700;
	font-size:17px;
	line-height:20px;
	text-align:center;
}
#sidebar .sidenav li{
	margin:0 0 20px;
}
#sidebar .sidenav a{
	color:#c7c9c9
}
#sidebar .sidenav .active a,
#sidebar .sidenav a:hover{
	color:#61696b;
}
#sidebar .sidenav.help{ padding:20px 0;}
#sidebar .sidenav.help a{
	color:#5178b3;
}
#content{
	overflow:hidden;
	padding:0;
}
#content h1{
	font-weight:700;
	color:#505456;
	font-size:47px;
	line-height:50px;
	margin:0 0 20px;
}
#content p{ margin:0 0 20px;}
#content .map{
	display:block;
	margin:0 auto;
	width:100%;
}
#content .help-center{
	background:#fff;
	border:2px solid #e2e5e5;
	padding:30px;
}
#content .help-center h2{
	font-size:18px;
	line-height:21px;
	margin:0 0 20px;
}
#content .head{ 
	overflow:hidden;
	text-align:center;
	margin:0 0 30px;
}
#content .head h2{
	display:inline-block;
	vertical-align:middle;
}
#content .head .btn{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 20px;
}
#content h2{
	font-size:24px;
	line-height:27px;
	font-weight:400;
	margin:0;
}
#content .features{ text-align:center; }
#content .features .col{
	display:inline-block;
	vertical-align:middle;
	width:335px;
	height:335px;
	padding:20px;
	background:#fff;
	border:1px solid #e1e1e1;
	margin:0 20px 40px;
}
#content .features .hold{
	display:table;
	width:100%;
	height:100%;
}
#content .features .block{
	display:table-cell;
	vertical-align:middle;
}
#content .features img{
	display:block;
	margin:0 auto 20px;
}
#content .features .title{
	font-size:24px;
	line-height:27px;
	font-weight:700;
	margin:0 0 20px;
	display:block;
}
@media (min-width: 768px) {
.inner header .top-bar{ padding:20px;}
.inner header .logo-area {
	text-align:center;
	margin:0 0 10px;
	padding:0;
}
.inner header .logo {
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/logo2.png) no-repeat;
	width: 167px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
}
.inner header .loc-form {
	display: inline-block;
	vertical-align: middle;
	width: 298px;
	margin: 0 0 0 50px;
}
.inner header .small-menu {
	margin: 0 0 0 50px;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 18px;
}
.inner header .right-area{
	text-align:center;
}
.inner header .nav{
	margin:0;
	padding:0 20px;
	list-style:none;
	background:#565a5c;
	font-weight:700;
	font-size:15px;
	line-height:18px;
	overflow:hidden;
}
#main{
	padding:20px;
	overflow:hidden;
}
#sidebar{
	width:20%;
	float:left;
	padding:0 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#sidebar .sidenav{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:700;
	font-size:17px;
	line-height:20px;
}
#sidebar .sidenav li{
	margin:0 0 20px;
}
#sidebar .sidenav a{
	color:#c7c9c9
}
#sidebar .sidenav .active a,
#sidebar .sidenav a:hover{
	color:#61696b;
}
#content{
	overflow:hidden;
	padding:0 10px;
}
#content h1{
	font-weight:700;
	color:#505456;
	font-size:47px;
	line-height:50px;
	margin:0 0 20px;
}
#content p{ margin:0 0 20px;}
#content .map{
	width:auto;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.inner header .top-bar{ padding:20px 60px;}
.inner header .logo-area { 
	float: left;
	padding:3px 0;
}
.inner header .logo {
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/logo2.png) no-repeat;
	width: 167px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	margin:0;
}
.inner header .loc-form {
	display: inline-block;
	vertical-align: middle;
	width: 298px;
	margin: 0 0 0 50px;
}
.inner header .small-menu {
	margin: 0 0 0 50px;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 18px;
}
.inner header .right-area{
	float:right;
}
.inner header .nav{
	margin:0;
	padding:0 60px;
	list-style:none;
	background:#565a5c;
	font-weight:700;
	font-size:15px;
	line-height:18px;
	overflow:hidden;
}
#main{
	padding:20px 60px;
	overflow:hidden;
}
#main.inner{
	max-width:1170px;
	margin:0 auto;
}
#sidebar{
	width:20%;
	float:left;
}
#sidebar .sidenav{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:700;
	font-size:17px;
	line-height:20px;
	text-align:left;
}
#content .map{ width:auto; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* common custom form elements styles */
::selection,
li::selection,
div::selection {
	background: #6193a5; /* WebKit/Blink Browsers */
	color: #fff;
}
::-moz-selection, li::-moz-selection, div::-moz-selection, {
 background: #6193a5; /* Gecko Browsers */
 color: #fff;
}
