body {
	font: 14px/16px 'Pontano Sans', sans-serif !important;
	color: #fff;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover, a:focus{ color:#fff;}
h2 {
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	font-weight: bold;
	padding: 0;
	margin: 0 0 22px;
}


.top-header {
	background: #fff;
	padding: 15px 0;
}
.top-header .logo {
	background: url(../images/logo.png) no-repeat;
	width: 171px;
	height: 99px;
	display:block;
	padding:0;
	margin:0;
	background-size:100%;
	overflow:hidden;
	text-indent:-9999px;
}
#footer  .container{
	overflow: hidden;
	padding:12px 0;
}
#footer .logo{
	float: none;
	background: url(../images/logo.png) no-repeat;
	width: 171px;
	height: 99px;
	display:block;
	padding:0;
	margin:0 auto 10px;
	background-size:100%;
	overflow:hidden;
	text-indent:-9999px;
}
#footer .logo a{
	height: 100%;
	display: block;
}
#footer .navigation{
	overflow: hidden;
}
#footer .navigation ul{
	text-align:center;
	font-size: 12px;
    line-height: 15px;
    padding:0;
    text-transform: uppercase;
}
#footer .navigation li{
	display: inline-block;
	vertical-align: middle;
}
#footer li a{
	color: #1e3244;
	padding: 0 10px;
}

#footer li a:hover{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 2px solid #6d9cac;
    color: #1e3244 !important;
    padding: 0 10px 3px;
    text-decoration: none;
}

.navbar{ margin:0 ;}
.navbar-default{
	background:none;
	border:none;
}
.navbar-nav > li > a{
	padding:0 10px 20px;
	color: #1e3244 !important;
	text-align:center;
}
.navbar-nav{ 
	padding:0;
	text-transform:uppercase;
	font-size:12px;
	line-height:15px;
}
/*.top-header .logo a {
	display: block;
	height: 100%;
}*/
.top-header #nav {
	overflow: hidden;
	text-transform: uppercase;
	padding: 0 0 0 15px;
}
.top-header #nav ul {
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	padding: 37px 0 0;
	list-style: none;
	float: right;
}
.top-header #nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 10px 10px;
}
.navbar-nav .active a,
.navbar-nav > li > a:hover{
	text-decoration: none;
	color: #1e3244 !important;
	background: none !important;
}
.carousel { margin: 0 !important; }
.carousel-inner { overflow: hidden; }
.item {
	background: #333;
	text-align: center;
	height: auto;
}
.carousel { margin-top: 20px; }
.carousel img { width: 100%; }
.what-do {
	background: #2d4658;
	padding: 30px 0 0;
}
#services .head,
.what-do .head {
	text-align: center;
	overflow: hidden;
	padding: 0 0 30px;
	text-transform: capitalize;
}
#services .head,
.what-do .head p{ line-height: 25px;}

#services .head{ padding: 0 0 12px;}
.what-do .head h2 span {
	padding: 0 0 12px;
	background: url(../images/ico-headbar.png) no-repeat 50% 100%;
}
.what-do .holder {
	overflow: hidden;
	background: #6193a5;
}
.what-do .holder .block {
	overflow: hidden;
	display: table;
	width: 100%;
}
.what-do .holder .block .image-area{
	background: url(../images/img1.jpg) no-repeat center top;
	background-size: cover;
	height:414px;
}
.what-do .holder .block .image-area.one{
	background: url(../images/img2.jpg) no-repeat center top;
	background-size: cover;
}
.what-do .holder .block .image-area .caption {
	display: table-cell;
	vertical-align: middle;
	float: none;
	clear: both;
}
.what-do .holder .block .text-area {
	height: 100%;
	overflow: hidden;
}
.what-do .holder .block .text-area .text {
	display: table-cell;
	vertical-align: middle;
	clear: both;
	float: none;
	height: 100%;
	padding:80px 0 20px;
}
.what-do .holder .block .text-area .info{
	padding:28px 10px 20px;
}
.what-do .holder .block .info .wrap{
	overflow: hidden;
	margin: 0 0 20px;
}
.what-do .holder .block .info .wrap img{
	display: block;
	width: 100%;
	height: auto;
}
.what-do .holder .block .info .wrap .icon{
	float:none;
	width:84px;
	height:98px;
	margin: 0 auto 20px;
	display:block;
}
.what-do .holder .block .info .wrap .text{
	padding: 0;
	margin: 0;
	overflow: hidden;
}


.what-do .holder .block .text-area .text p{ margin: 0 0 20px}
.what-do .holder .heading{
	text-align:center;
	vertical-align: middle;
	display: table-cell;
	padding: 140px 0 0;
	text-transform: uppercase;
}
.what-do .holder .heading h3{
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	margin: 0 0 15px;
}
.what-do .holder .heading .ico-div{
	background: url(../images/ico-about.png) no-repeat 50% 0;
	padding: 65px 0 0 0;
	text-transform: uppercase;
	font-weight: bold;
}
.what-do .holder .heading a{
	padding: 0 0 7px;
	border-bottom:1px solid #fff;
}
.what-do .holder .heading a:active,
.what-do .holder .heading a:hover{
	color: #fff !important;
	text-decoration: none;
}

#services{
	overflow: hidden;
	background: #272727;
	padding: 50px 0 70px 0;
}
#services .holder{
	overflow: hidden;
	background: #fff;
	margin:17px 0 0;
	color: #3a3939 !important;
}
#services .holder .block:after{
	content: '';
	display: block;
	clear: both;
}
#services .holder .block .image-area img{
	width: 100%;
	height: auto;
}
#services .holder .text-area{ padding: 20px 30px 20px;}
#services .holder .text-area.one{ padding:20px 30px 20px; }
#services .holder .text-area .head{
	overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}
#services .holder .image-area{
	margin:0;
	padding: 0;
}
#services .holder .image-area.one{
	margin: 0;
	padding: 0;}
#services .block .text-area h2{ color: #3a3939 !important;}
#services .head h2{ color: #fff !important;}
#services .head h2 span{
	background: url("../images/ico-headbar.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
	padding: 0 0 12px;
}
#services .block .text-area h2 span {
    background: url("../images/ico-headbar1.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    padding: 0 0 12px;
}
#services .block .text-area p{ line-height: 26px}
#services .text-area .buttons-area{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #055677;
}
#services .text-area .buttons-area:after{
	content: '';
	display: block;
	clear: both;
}
#services .text-area .buttons-area .btn:first-child{ margin: 0 auto;}
#services .text-area .buttons-area .btn{
	padding: 0;
	display: block;
	max-width:300px;
	margin: 15px auto 0;
	-webkit-box-shadow: 1px 1px 1px 1px #055676;
	box-shadow: 1px 1px 1px 1px #055676;
	background: #7aa7b6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYTdiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzc1YTNiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzY2OTdhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzRkN2U5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzdkOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7aa7b6 0%, #75a3b2 16%, #6697a8 45%, #4d7e92 90%, #4c7d90 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aa7b6), color-stop(16%,#75a3b2), color-stop(45%,#6697a8), color-stop(90%,#4d7e92), color-stop(100%,#4c7d90)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa7b6', endColorstr='#4c7d90',GradientType=0 ); /* IE6-8 */

}
#services .text-area .buttons-area a{
	color: #fff;
	display: block;
	width: 100%;
	height:100%;
	padding: 10px 10px;
	font-weight: bold !important;
}


#contact{
	overflow: hidden;
	padding: 40px 0 60px;
	background: url(../images/contact/bg-map.png) no-repeat 50% 0;
	background-size:cover;
}
#contact .container{
	background: url(../images/contact/ico-direction.png) no-repeat 50% 0;
	padding: 162px 0 0 ;
}
#contact .container .block:first-child{ background: none;}
#contact .container .block{
	text-align: center;
	background: url(../images/contact/divider.png) no-repeat 0 30px;
}
#contact .container .direction{
	overflow: hidden;
	margin: 0 0 50px;
	text-transform: uppercase;
}

#contact .container .direction span{
	display: block;
	margin: 0 0 10px;
}
#contact .container .address{
	overflow: hidden;
	margin:0 0 26px;
}
#contact .container .address span{
	display: block;
	margin: 0 0 2px;
}
#contact .container .address .heading{
	display: block;
	margin:0 0 20px;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
#contact .container .mail-area{
	clear: both;
	overflow: hidden;
	text-align:center;
	padding: 26px 0 0;
	text-transform: uppercase;
}
#contact .container .mail-area .btn{
	border: 1px solid #fff;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
#contact .container .mail-area .btn a{
	font-weight: bold;
	font-size: 24px;
	line-height: 34px;
	height: 100%;
	display: block;
	padding:20px 100px;
}
#contact .container .mail-area .btn a:hover{
	text-decoration: none;
	color: #fff;

}

#social-area{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	background: #272727;
}
#social-area .block:first-child{ border: none;}
#social-area .block:after{
	content: '';
	display: block;
	clear: both;
}
#social-area .block{border:none;}

#social-area .block .area{
	/*background: url(../images/contact/divider.png) no-repeat 0 30px;*/
	padding: 60px 20px;
	border-top:1px solid #fff;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
#social-area .block .area.facebook:hover{ background: #213059;}
.navbar-toggle{ margin-top:26px; margin-right:0;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ border:none; }
.about{
	background:url(../images/about3.jpg) no-repeat center top;
	background-size:cover;
	padding:36px 0;
}
.about h2{
	text-align:center;
	margin:0 0 28px;
	text-transform:uppercase;
	font-size:25px;
	line-height:28px;
	padding:0 0 12px;
}
.about h2 span{
	background: url("../images/ico-headbar.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
	padding: 0 0 12px;
}
.about p{ margin:0 0 26px;}
.about h3{
	margin:0 0 6px;
	font-size:18px;
	line-height:21px;
}
.about ul{ margin-bottom: 26px;}
.about ul li{ margin:0 0 6px; }
.about .author{ text-align:right; }
.about .author h2{
	padding:0;
	margin:0 0 10px;
	text-align:right;
}
.about .author .title{
	display:block;
	font-weight:normal;
	font-size:20px;
	line-height:23px;
}
.banner{
	background:url(../images/consult-banner.jpg) no-repeat center center;
	background-size:cover;
	padding:50px 0;
}
.banner h1{
	font-size:45px;
	line-height:48px;
	margin:0;
	font-weight:bold;
}
.banner .title{
	display:block;
	font-style:italic;
	font-size:25px;
	line-height:28px;
}
.advice{
	background:url(../images/anchor.png) no-repeat center top;
	color:#1e3244;
	padding:65px 0;
	font-size:18px;
	line-height:34px;
	font-weight:200;
}
.advice p{ margin:0 0 16px; }
.advice ul li{ margin:0 0 5px; }
.image-section img{
	display:block;
	height:auto;
	width:100%;
}
.image-section .btn{
	display:block;
	background:#2d4658;
	font-size:31px;
	line-height:57px;
	font-weight:bold;
	border-radius:0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#services .text-area .buttons-area{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #055677;
}
#services .text-area .buttons-area:after{
	content: '';
	display: block;
	clear: both;
}
#services .text-area .buttons-area .btn:first-child{ margin: 0;}
#services .text-area .buttons-area .btn{
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 20% ;
	-webkit-box-shadow: 1px 1px 1px 1px #055676;
	box-shadow: 1px 1px 1px 1px #055676;
	background: #7aa7b6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYTdiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzc1YTNiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzY2OTdhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzRkN2U5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzdkOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7aa7b6 0%, #75a3b2 16%, #6697a8 45%, #4d7e92 90%, #4c7d90 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aa7b6), color-stop(16%,#75a3b2), color-stop(45%,#6697a8), color-stop(90%,#4d7e92), color-stop(100%,#4c7d90)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7aa7b6 0%,#75a3b2 16%,#6697a8 45%,#4d7e92 90%,#4c7d90 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa7b6', endColorstr='#4c7d90',GradientType=0 ); /* IE6-8 */

}
#services .text-area .buttons-area a{
	color: #fff;
	display: block;
	width: 100%;
	height:100%;
	padding: 10px 10px;
	font-weight: bold !important;
}
#footer  .container{
	overflow: hidden;
	padding:12px 0;
}
#footer .logo{
	float: left;
	background: url(../images/logo.png) no-repeat;
	width: 171px;
	height: 99px;
	display:block;
	padding:0;
	margin:0;
	background-size:100%;
	overflow:hidden;
	text-indent:-9999px;
}
#footer .logo a{
	height: 100%;
	display: block;
}
#footer .navigation{
	overflow: hidden;
}
#footer .navigation ul{
	float: right;
	font-size: 12px;
    line-height: 15px;
    padding: 40px 0;
    text-transform: uppercase;
}
#footer .navigation li{
	display: inline-block;
	vertical-align: middle;
}
#footer li a{
	color: #1e3244;
	padding: 0 10px;
}

#footer li a:hover{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 2px solid #6d9cac;
    color: #1e3244 !important;
    padding: 0 10px 3px;
    text-decoration: none;
}
#social-area .block{border-top: 2px solid #fff;}
#social-area .block .area{
	/*background: url(../images/contact/divider.png) no-repeat 0 30px;*/
	padding: 60px 20px;
	border-left: 2px solid #fff;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
#services .holder .text-area{ padding: 20px 30px 20px;}
#services .holder .text-area.one{ padding:20px 30px 20px; }
.navbar-nav{ 
	padding:42px 0;
	text-transform:uppercase;
	font-size:12px;
	line-height:15px;
}
.navbar-nav .active a,
.navbar-nav > li > a:hover{
	border-bottom: 2px solid #6d9cac;
	padding:0 10px 3px ;
	text-decoration: none;
	color: #1e3244 !important;
	background: none !important;
}
.navbar-nav > li > a{
	padding:0 10px 0;
	color: #1e3244 !important;
	text-align:center;
}
.what-do .holder .block .info .wrap .icon{
	float: left;
	margin: 0 20px 0 0;
}
#contact .container .address{
	overflow: hidden;
}
.about{
	background:url(../images/about3.jpg) no-repeat center top;
	background-size:cover;
	padding:36px 0;
}
.about h2{
	text-align:center;
	margin:0 0 28px;
	text-transform:uppercase;
	font-size:25px;
	line-height:28px;
	padding:0 0 12px;
}
.about h2 span{
	background: url("../images/ico-headbar.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
	padding: 0 0 12px;
}
.about p{ margin:0 0 26px;}
.about h3{
	margin:0 0 6px;
	font-size:18px;
	line-height:21px;
}
.about ul{ margin-bottom: 26px;}
.about .author{ text-align:right; }
.about .author h2{
	padding:0;
	margin:0 0 10px;
	text-align:right;
}
.about .author .title{
	display:block;
	font-weight:normal;
	font-size:20px;
	line-height:23px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
